.git
.github
.husky
.idea
.vscode
node_modules
dist
.astro
.vercel
coverage
seed
Dockerfile*
docker-compose*.override.yml
.env
.env.*
!.env.example
!.env.prod
pnpm-debug.log
npm-debug.log
yarn-error.log
