---
import "../../styles/markdown.css";
import "../../styles/markdown-extend.styl";

interface Props {
  class: string;
}
const className = Astro.props.class;
---

<div
  data-mermaid-interactive="true"
  class:list={[
    "prose prose-base dark:prose-invert max-w-none! custom-md",
    className,
  ]}
>
  <!--<div class="prose dark:prose-invert max-w-none custom-md">-->
  <!--<div class="max-w-none custom-md">-->
  <slot />
</div>

<script>
  import { setupCodeCopyDelegation } from "@/scripts/markdown/code-copy";

  setupCodeCopyDelegation();
</script>
